<!doctype html>
<!--[if lte IE 9]>
<html lang="en" class="oldie">
<![endif]-->
<!--[if gt IE 9]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rainbow Effect</title>
    <link href="https://localhost:8443/css/addCorrect.css" rel="stylesheet" type="text/css"></head>
<body>
<ul class="c-rainbow">
    <li class="c-rainbow__layer c-rainbow__layer--white"><p>Product added successfully!</p></li>
    <li class="c-rainbow__layer c-rainbow__layer--orange"><p>Product added successfully!</p></li>
    <li class="c-rainbow__layer c-rainbow__layer--red"><p>Product added successfully!</p></li>
    <li class="c-rainbow__layer c-rainbow__layer--violet"><p>Product added successfully!</p></li>
    <li class="c-rainbow__layer c-rainbow__layer--blue"><p>Product added successfully!</p></li>
    <li class="c-rainbow__layer c-rainbow__layer--green"><p>Product added successfully!</p></li>
    <li class="c-rainbow__layer c-rainbow__layer--yellow"><p>Product added successfully!</p></li>
</ul>
    <br>
    <div class="testbox">
        <p id="texto"><a href="/products/cart">Go back to your cart</a><br>
            <br>
            <a href="/">Go home</a> </p>

    </div>


</body>
</html>
