<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Successful delete</title>
    <link href="https://localhost:8443/css/deleteSuccess.css" rel="stylesheet" type="text/css"></head>

</head>
<body>

<div class="container">
    <div class="row">
        <div class="neons col-12">
            <h1>
                <p>The product has been removed from your cart.</p>
                <a href="/products/cart" >Go back to your cart</a>
            </h1>

        </div>
    </div>
</div>

<p>The product has been removed from your cart.</p>
<a href="/products/cart" >Go back to your cart</a>

</body>
</html>