<!doctype html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ACTUALRETRO!</title>
    <link href="https://localhost:8443/css/index.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container">
    <header> <a href="">
        <h6 class="logo">ACTUAL RETRO</h6>
    </a>
        <nav>
            <ul>
                {{#isadmin}}
                <li><a href="/adminpage">USERS</a></li>
                {{/isadmin}}
                {{#isuser}}
                <li><a href="/users/{{id}}">PROFILE</a></li>
                {{/isuser}}
                <li><a href="#hero">HOME</a></li>
                <li><a href="/products/cart"><img src="https://w7.pngwing.com/pngs/98/411/png-transparent-shopping-cart-illustration-euclidean-shopping-cart-icon-shopping-cart-text-service-monochrome.png"alt="" width="50" height="30" class="remove-bg"/></a></li>
                <li> <a href="/login">LOG-IN</a></li>
                <li><a href="/register">REGISTER</a></li>
            </ul>
        </nav>
    </header>
    <section class="hero" id="hero">
        <h2 class="hero_header">ACTUAL RETRO</h2>
        <p class="tagline">RETRO GAMES SHOPPING ONLINE!&nbsp; &nbsp; &nbsp;&nbsp;</p>
    </section>
    <footer>
        <article class="footer_column">
            <h3>VIDEOCONSOLES</h3>
            <a href="/products/consoles"><img src="https://m.media-amazon.com/images/I/71TQFyysqRS._SX342_.jpg" alt="" width="400" height="400" class="cards"/></a>
            <p>Here you'll find the best retro video consoles... best prices are guaranteed!! You can sell yours' too!</p>
        </article>
        <article class="footer_column">
            <h3>VIDEOGAMES&nbsp;</h3>
            <a href="/products/videogames"><img src="https://www.shortlist.com/media/imager/201906/35847-original.jpg" alt="" width="400" height="200" class="cards"/></a>
            <p> Don't you remember this games...? Here, you'll be able to adquire them at a good price. You´ll also be able to sell yours'! </p>
        </article>
    </footer>
    <section class="footer_banner" id="contact">
        <h2 class="hidden">Footer Banner Section </h2>
        <p class="hero_header">SELL PRODUCTS HERE!</p>
        <div class="button"><a href="sell_products.html">SELL</a></div>
           

    </section>
    <div class="copyright"><strong>ALL RIGHTS RESERVED FOR ACTUALRETRO (URJC 2021-22)&nbsp; &nbsp;</strong></div>
</div>
</body>
</html>
