<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://localhost:8443/css/register_form.css" rel="stylesheet" type="text/css">
    <title>Register time</title>
</head>
<body>
<section class="form-register">
    <h4>Formulario Registro</h4>
    <form action="/register" method="post">
        <!--<input class="controls" type="text" name="name" placeholder="Write your name..."><br>
        <input class="controls" type="text" name="surname" placeholder="Write your surname..."><br>-->
        <input class="controls" type="email" name="mail" placeholder="Write your e-mail"><br>
        <input class="controls" type="text" name="username" placeholder="Write non-taken username"><br>
        <input class="controls" type="password" name="password"  placeholder="Write your password"><br>
        <input class="controls" type="text" name="phone"  placeholder="Write your phone number"><br>
        <input type="hidden" name="_csrf" value="{{token}}"/>
        <input class="botons" type="submit" value="Register">
    </form>

</section>

</body>
</html>