<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=devide-width, initial-scale=1">
    <title>Register Error</title>
    <link href="https://localhost:8443/css/loginError.css" rel="stylesheet" type="text/css"></head>

</head>
<body>

<div class="container">
    <div class="row">
        <div class="neons col-12">
            <h1>
                <em>Username already taken... wanna <a href="/register">try again</a>?</em>
            </h1>

        </div>
    </div>
</div>
</body>
</html>