<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Oops...</title>
    <link href="https://localhost:8443/css/error.css" rel="stylesheet" type="text/css"/>
</head>
<body>
	<div class="waviy box-animation">
   <span class="waviy" style="--i:1">S</span>
   <span class="waviy" style="--i:2">o</span>
   <span class="waviy" style="--i:3">r</span>
   <span class="waviy" style="--i:4">r</span>
   <span class="waviy" style="--i:5">y</span>
   <span class="waviy" style="--i:6">.</span>
   <span class="waviy" style="--i:6">.</span>
   <span class="waviy" style="--i:6">.</span>
   <span class="waviy" style="--i:7; margin: 20px;"> :(</span>
  </div><br>
  <div class="appear box-text">
	400 Error
  </div>
  <div class="appear box-text">
	Bad Request
  </div><br><br>
  <div class="appear box-text">
	The page you've looked for is nowhere to be found... want to get back <a href="/">home</a>?
  </div>
</body>
</html>